@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

.Root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    text-align: justify;
}

.HeaderBackground {
    background-color: #101010;
    position: sticky;
    top: 0px;
    width: 100vw;

    // To center Header
    text-align: center;
    //display: flex;
    //justify-content: center;
    //align-items: center;

    .Header {
        // To center within HeaderBackground
        margin: auto;

        padding: 4px;
        color: white;
        //max-width: 1000px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


    }

    .Title {
        font-size: 24px;
    }

    .User {
        display: inline;

        span {}

        .InnerUser {
            display: flex;
        }
    }
}

body {
    margin: 0px;
}

li {
    list-style: none;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px
}