.DatasetEntry {
    //background-color: #EEEEEE;
    //padding: 10px;
    margin: 30px;
    border-radius: 3px;

    align-self: center;
    max-width: 1400px;
}

.EntryHeader {
    h3 {
        margin-bottom: 5px;
    }

    margin-bottom: 20px;
}

.OutputsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;

    // at least 10 px between items
    gap: 10px;
}


.CotOutput {
    // keep all items the same width
    // flex basis 0 -> they have the same starting point, then grow
    flex: 1 1 0px;


    background-color: #EEEEEE;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 12px;

    max-width: 400px;
}

.Sentences {}

.BestCot {
    text-align: center;
    margin: 5px;
}

.Annotations {
    user-select: none;

    @media screen and (min-width: 1200px) {
        padding-left: 100px;
    }

    li {
        padding-top: 5px;
    }

    input {
        margin-right: 10px;
    }
}